In [1]:
#warmup problems

In [5]:
def lesser_of_two_evens(a,b):
    return a%2 == 0 and b%2 == 0

In [8]:
lesser_of_two_evens(2,4)

True

In [9]:
lesser_of_two_evens(2,5)

False

In [14]:
def animal_crackers(text):
    two_words = text.split()
    
    return two_words[0][0] == two_words[1][0]

In [15]:
animal_crackers('Levelheaded Llama')

True

In [11]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or (n1+n2) == 20

In [12]:
makes_twenty(20,10)

True

In [13]:
makes_twenty(2,3)

False

In [30]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return "The string is too short"

In [31]:
old_macdonald('macdonald')

'MacDonald'

In [34]:
def master_yoda(text):
    backwards = ' '.join(text.split()[::-1])
    return backwards

In [35]:
master_yoda('I am home')

'home am I'

In [36]:
master_yoda('We are ready')

'ready are We'

In [41]:
def almost_there(n):
    if abs(100- n ) <= 10:
        return True
    elif abs(200 - n) <= 10:
        return True
    else:
        return False

In [42]:

# Check
almost_there(104)

True

In [43]:
almost_there(150)

False

In [44]:
almost_there(209)

True

In [51]:
def find_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i] ==3 and nums[i+1] == 3:
            return True
    return False

In [52]:
find_33([1, 3, 3])

True

In [54]:
find_33([1, 3, 1, 3])

False

In [59]:
def paper_doll(text):
    new_string = ''
    for char in text:
        new_string += char * 3
    return new_string

In [60]:
paper_doll('Hello')

'HHHeeellllllooo'

In [61]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [105]:
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <= 31 and 11 in (a,b,c):
        return sum((a,b,c))-10
    else:
        return 'Busted'

In [106]:
blackjack(5,6,7)

18

In [107]:

# Check
blackjack(9,9,9)

'Busted'

In [108]:
blackjack(9,9,11)

19

In [111]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [112]:
# more functions practice

In [113]:
# https://pynative.com/python-functions-exercise-with-solutions/

In [114]:
# Exercise 1: Create a function that can accept two arguments name and age and print its value
def your_id():
    name = input("What is your name? ")
    age = input("What is your age? ")
    print(name, age)

In [115]:
your_id()

What is your name? Kavi
What is your age? 29
Kavi 29

In [126]:
#answer
def demo(name, age):
    print(name, age)

demo("Ben", 25)

Ben 25

In [127]:
def persona(name, age):
    print(name, age)

In [128]:
persona("Kavi", 29)

Kavi 29

In [135]:
#Exercise 2: Write a function func1() such that it can accept a variable length of  argument and print all arguments value
def func1(*args):
    for i in args:
        print(i)

In [136]:
func1(20, 40, 60)

20
40
60

In [137]:
#Exercise 3: Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of them. 
#And also it must return both addition and subtraction in a single return call

def calculation(a, b):
    return a+b, a-b

In [138]:
results = calculation(40, 10)

In [139]:
results

(50, 30)

In [171]:
"""
Exercise 4: Create a function showEmployee() in such a way that it should accept employee name, and its salary and display both.
If the salary is missing in the function call assign default value 9000 to salary
"""

def show_employee(name, salary = '9000'):
    print('Employee {} salary is: {}'.format(name, salary))

In [172]:
show_employee("Ben", salary = '9000')

Employee Ben salary is: 9000

In [173]:
show_employee("Ben")

Employee Ben salary is: 9000

In [ ]:
# https://www.w3resource.com/python-exercises/python-functions-exercises.php

In [174]:
# Write a Python function to find the Max of three numbers.

def find_max(a,b,c):
    return max(a,b,c)

In [175]:
find_max(10,30,30)

30

In [180]:
#Write a Python function to sum all the numbers in a list.

def sum_list(numbers):
    total = 0
    for i in numbers:
        total += i
    return total

In [184]:
print(sum_list((8, 2, 3, 0, 7)))

20

In [185]:
#This is just test for seeing my new screen

In [186]:
#https://able.bio/rhett/python-functions-and-best-practices--78aclaa

In [187]:
#simple example:
def simple_add(a, b):
    result = a + b
    return result

In [189]:

sum_result = simple_add(5,7)

In [190]:
print(sum_result)

12

In [191]:
#more complex example
def highest_number(nums):
    highest = 0
    for i in nums:
        if i > highest:
            highest = i
            
    return highest

In [195]:
scores = [12,57,737,60,47,426]
top_score = highest_number(scores)

In [196]:
top_score

737

In [201]:
def greet(greetings, name = None):
    if name:
        print(greetings + " " + name)
    else:
        print(greetings + " " +"there")

In [202]:
greet("Hello", name = "Kavi")

Hello Kavi

In [203]:
# Call function without keyword argument
greet('Hello')

Hello there

In [208]:
#messing with *args
def throw_party(host, *args):
    print(host, 'is throwing a party!')
    for guest in guests:
        print(guest, 'has arrived.')

In [209]:
throw_party('Anika', 'Jethrow', 'Roxanne', 'Sadiyah', 'Andrei')

Anika is throwing a party!

NameError: name 'guests' is not defined